/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/*	Bootstrap */
.p-0 { padding: 0 !important }
.p-1 { padding: 1rem !important }
.p-2 { padding: 2rem !important }
.m-0 { margin: 0 !important }
.m-1 { margin: 1rem !important }
.m-2 { margin: 2rem !important }
.py-1 { padding: 1rem 0 !important }
.py-2 { padding: 1rem 0 !important }
.my-1 { margin: 1rem 0 !important }
.my-2 { margin: 2rem 0 !important }
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}








.postbox .inside .inside-heading {
	font-size: 1.25rem !important;
	margin-top: 2rem !important;
}



/* Slider field */
.cmb2-slider {
	width: 70%;
	float: left;
    opacity: 0.75;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.cmb2-slider:hover {
    opacity: 1;
}

.slider-text {
	display: inline-block;
	margin: 0 .5rem
}
